{% extends 'base.html' %}
{% block title %} user list {% endblock %}

{% block content %}

<section>
    <form class="d-flex" method="get" style="margin-top:10px">
        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>
    <table class="table table-success table-striped" style="margin-top:10px">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">username</th>
            <th scope="col">email</th>
            <th scope="col">last login</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.last_login }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}