.login {
    border: 1px solid #F7D0B0;
    padding: 0;
    position: relative;
    left: 980px;
    margin-top: 5px;
}

.register{
    border: 1px solid #F7D0B0;
    padding: 0;
    position: relative;
    left: 990px;
    margin-top: 5px;
}

.dropdown_1{
    position: relative;
    left: 1140px;
}