<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">MyBlog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'blog_create' %}">add blog</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'login_page' %}">add blog</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'user_list' %}">users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'categories' %}">categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">about</a>
                </li>
                {% if user.is_authenticated %}
                                <li class="nav-item dropdown" style="position:relative; left:1000px; border:1px solid #F7D0B0">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ user.username }}
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="{% url 'logout_page' %}">Logout</a></li>
                                        <li><a class="dropdown-item" href="{% url 'profile' %}">profile</a></li>
                                    </ul>
                                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link login" href="{% url 'login_page' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link register" href="{% url 'signup' %}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>